:root {
  --color-turquesa-oscuro:  #3f888f;
  --color-coral: #FF7F50;
  --color-gris-oscuro: #333333;
  --color-gris-claro: #f2f2f2bd;
  --color-blanco: #FFFFFF;
  --color-borde: #CCCCCC;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth; 
}

body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; 
  font-size: 1.25rem; 
  font-weight: 400; 
  color: var(--color-gris-oscuro); 
  background: var(--color-blanco);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.navbar {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: var(--color-turquesa-oscuro) !important;
  font-weight: 400;
}

.navbar-brand span {
  color: var(--color-coral);
  font-weight: 600;
  font-size: 1.5rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); ; 
}

.navbar .nav-link {
  color: var(--color-blanco) !important;
  transition: color 0.3s;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5); 
}

.nav-link.active,
.dropdown-item.active{
  color: var(--color-gris-oscuro);
  background-color: var(--color-coral);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.navbar .nav-link:hover,
.dropdown-item:hover {
  color: var(--color-coral) !important;
  background-color: var(--color-gris-oscuro);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.dropdown-menu {
    background-color: var(--color-turquesa-oscuro) !important;
}


.dropdown-item {
  color: var(--color-blanco) !important;
  font-weight: 400;
}


:target {
  scroll-margin-top: -50px;
}


section {
  padding: 80px 20px;
}

section:nth-child(even) {
  background-color: var(--color-gris-claro);
}

.section--alt{ background: #ffffff; }


.section-card{
  background:#fff;
  border:1px solid #eef2f7;
  border-radius:16px;
  padding:24px;
  box-shadow: 0 6px 20px rgba(17,24,39,.06);
}

.section-servicios {
  position: relative;
  margin: 0px 0px 0px;
  display: inline-block;
  padding: 20px 30px;
  background: #fff;
  border-radius: 0px;
  z-index: 10;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 
    0 -6px 5px rgba(255, 255, 255, 0.459),
    0 6px 5px rgba(255, 255, 255, 0.459); 
}

.titulo-empleador {
  color: var(--color-coral);
}

.titulo-empleados {
  color: var(--color-gris-oscuro);
}


.icon-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon-list li {
  display: grid;
  grid-template-columns: 250px 1fr; /* dos columnas en escritorio */
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  align-items: flex-start;
}

.icon-list li b {
  font-weight: bold;
}


@media (max-width: 768px) {
  .icon-list li {
    grid-template-columns: 1fr; 
  }

  .icon-list li b {
    margin-bottom: 5px;
    display: block;
  }
}

.icon-list i{ color: var(rgb(15, 198, 24)); margin-top: 2px; }


h2 {
  color: var(--color-turquesa-oscuro);
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

h5{
  color: var(--color-coral);
  font-weight: 700;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: var(--color-turquesa-oscuro);
  color: var(--color-blanco);
  border: none;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--color-coral);
  color: var(--color-gris-oscuro);
}

.btn-coral {
  background-color: var(--color-coral);
  color: var(--color-blanco);
  border: none;
  transition: background 0.3s;
}

.btn-coral:hover {
  background-color: var(--color-turquesa-oscuro); 
  color: var(--color-blanco);
}

form input, 
form textarea {
  border: 1px solid var(--color-borde);
}

form input:focus,
form textarea:focus {
  border-color: var(--color-turquesa-oscuro);
  box-shadow: 0 0 5px rgba(48, 207, 207, 0.3);
}

.parallax{
  position: relative;
  min-height: 55vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}

.parallax--autogestion{ background-image: url("../img/parallax--autogestion.png"); }
.parallax--movilidad{ background-image: url("../img/parallax--movilidad.jpg"); }
.parallax--recreacion{ background-image: url("../img/parallax--recreacion.jpg"); }
.parallax--seguridad{ min-height: 85vh; background-image: url("../img/seguridad.jpg"); }
.parallax--medicina{ background-image: url("../img/parallax-medicina.jpg"); }


.parallax::before{
  content:"";
  position:absolute; inset:0;
  background: linear-gradient(180deg, rgba(0,0,0,.35), rgba(0,0,0,.35));
}
.parallax-content{
  position: relative;
  color:#fff;
  text-shadow: 0 4px 14px rgba(0,0,0,.45);
  padding: 1rem 2rem;
  border-radius: 16px;
  backdrop-filter: blur(1px) saturate(1.1);
}

@media (max-width: 768px){
  .parallax{ background-attachment: scroll; }
}

.hero {
  position: relative;
  width: 100%;       
  min-height: 100vh; 
  margin: 0;      
  padding: 0;     
  background-image: url("../img/hero.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.hero-content {
  position: relative;
  color: #fff;
  text-shadow: 0 4px 14px rgba(0,0,0,.45);
  padding: 1rem 2rem;
}

.hero-img img {
  max-width: 150px; 
  height: auto;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fadeInUp 1s ease forwards;
}

.animate-fade-delay {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.5s;
}

.animate-fade-delay2 {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 1s;
}
