:root {
  --color-naranja: #751069;
  --color-purpura: #FFA65C;
  --color-beige: #FFF7F0;
  --color-gris: #666666;
  --color-blanco: #FFFFFF;
}

/* General */
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-blanco);
  color: var(--color-gris);
  line-height: 1.6;
}

/* Navbar */
.navbar {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: var(--color-purpura) !important;
}

.navbar-brand span {
  color: var(--color-naranja);
  font-weight: 700;
}

.navbar .nav-link {
  color: var(--color-blanco) !important;
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: var(--color-naranja) !important;
}

/* Secciones */
section {
  padding: 80px 20px;
}

section:nth-child(even) {
  background-color: var(--color-beige);
}

h2 {
  color: var(--color-purpura);
  font-weight: 700;
  margin-bottom: 20px;
}

/* Botones */
.btn-primary {
  background-color: var(--color-naranja);
  color: var(--color-blanco);
  border: none;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--color-purpura);
  color: var(--color-beige);
}

/* Íconos o detalles */
.icono-destacado {
  color: var(--color-naranja);
  font-size: 2rem;
}

/* Formularios */
form input, 
form textarea {
  border: 1px solid #ddd;
}

form input:focus,
form textarea:focus {
  border-color: var(--color-purpura);
  box-shadow: 0 0 5px rgba(171, 123, 200, 0.3);
}
